
  <%= render "header" %>
<div class="wrapper">
  <%= render "side_bar" %>

  <div class='chat-room-form'>
   <div class="lists">
    <% @sites.each do |site|%>
      <li class='list'>
        <%= link_to site_path(site) do %>
          <div class='site-img-content'>
            <%= image_tag site.image, class: "site-img" %>
          </div>
          <div class='site-info'>
          <div class='site-name'>
            <%= site.sitename %> 様邸
          </div>
          </div>
        <% end %>
      </li>
    <% end %>
   </div>
  </div>
</div>
